html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.grid-item {
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #c4c4c4;
    background-color: transparent;
    font-size: 5rem;
    
    color: #fff;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    /* aspect-ratio: 1; */
}

button:hover {
    background-color: #eaeaea;
}

.board{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
}
